@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #343338;
}
.bgj{
    background-color: rgb(231,242, 252);
}
.nav-link:focus,
.nav-link:hover {
    color: #2387e7 !important;
}
.nav-link{
    color: black !important;
}
.first{
    border: 1px solid black;
    border-radius: 15px;
    padding: 30px !important;
}
.events{
    padding-top: 30px;
}
.font-oswald {
    font-family: 'Oswald', sans-serif;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fs-12 {
    font-size: 12px;
}

.fs-18 {
    font-size: 18px;
}
  
  
  .iiform {
    padding: 20px 0;
    position: relative;
    border: 1px solid rgb(73, 186, 223);
    margin: 30px 550px ;
    border-radius: 25px;
    padding-top: 100px ;
    padding-bottom: 80px ;
    
  }
  .iiform input {
    border: 1px solid rgba(31, 98, 92, 0.4);
    background-color: rgba(141, 187, 190, 0.54);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 300;
  }
  
  .iiform button {
    appearance:none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #50a3a2;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
    padding-left: 192px;
    padding-top: 20px;
  }